@import "./base.css";
html {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: "Gilroy";
  min-height: 2000px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0px;
}

#app {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    width: 100%;
    display: flex;
    place-items: flex-start;
  }

  #app {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* grid-template-columns: 1fr 1fr; */
    padding: 0px;
    gap: 40px;
  }
}
