@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.title-desc {
  @apply w-[1100px] h-[90px] flex flex-row overflow-hidden gap-[2px] rounded-sm;
}

.title {
  @apply w-[40%]  h-full bg-[#9989B4] text-white flex items-center justify-center font-medium text-[26px] font-gilroy capitalize;
}

.description {
  @apply w-[60%] h-full bg-white text-[#A49D9D] flex items-center justify-center font-medium text-[22px] font-gilroy font-normal capitalize;
}

.card {
  @apply w-[413px] h-[460px] flex flex-col items-center justify-start gap-[20px] bg-[rgba(239,239,239,0.45)] rounded-md shadow-custom;
}

.level {
  @apply w-[140px] h-[45px] text-center flex items-center justify-center text-[#252525] text-[16px] cursor-pointer bg-gray-200 gap-[20px];
}

.active {
  @apply w-[115px] h-[45px] text-center flex items-center justify-center text-white text-[16px] cursor-pointer bg-green-500 gap-[20px];
}

.inactive {
  @apply w-[115px] h-[45px] text-center flex items-center justify-center text-white text-[16px] cursor-pointer bg-red-500 gap-[20px];
}

.edit {
  @apply w-[100px] h-[40px] text-center flex items-center justify-center text-[#white] text-[16px] cursor-pointer bg-[#0048C1] gap-[10px] rounded;
}

.preview {
  @apply w-[113px] h-[40px] text-center flex items-center hover:bg-gray-200 text-gray-800 font-semibold py-2 px-4 border border-[#020342] rounded gap-[10px];
}

.delete {
  @apply w-[113px] h-[40px] text-center flex items-center hover:bg-gray-200 border border-red-500 text-white font-semibold py-2 px-4  rounded gap-[10px];
}

.form-row {
  @apply w-full flex gap-[20px] h-[140px];
}

.column {
  @apply w-[49%] flex flex-col gap-[20px] h-full;
}

.label-form {
  @apply text-[#14003B] text-[18px] font-gilroy font-medium;
}

.input-container {
  @apply w-[80%] bg-white h-[60px];
}

.input-el {
  @apply w-full rounded-xl h-full border pl-[10px];
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: "Gilroy";
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0px;
}

#app {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    width: 100%;
    display: flex;
    place-items: flex-start;
  }

  #app {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    /* grid-template-columns: 1fr 1fr; */
    padding: 0px;
    gap: 40px;
  }
}
