@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif !important;
}

.title-desc {
  @apply lg:w-[1100px] w-full h-[90px] flex lg:flex-row  flex-col gap-[2px] rounded-sm text-[16px];
}

.title {
  @apply  text-[18px] relative lg:w-[40%] w-[100%] rounded h-full bg-gradient-to-r from-[#8b6cf6] to-[#a78bfa] text-white flex items-center justify-center font-medium lg:text-[26px] capitalize  hover:from-[#7558e6] hover:to-[#9473ea] transition-colors duration-300;
}

.description {
  @apply lg:w-[60%] w-[100%] h-full bg-white text-[#A49D9D] flex items-center justify-center  lg:text-[22px] font-normal capitalize;
}

.card-icon {
  @apply border-[#9173f7] z-[1] border-[1px] absolute lg:left-[-35px] left-[-10px] top-[-10px] lg:min-w-[20%] h-[100%] bg-[#f5f5f4] rounded-full flex items-center justify-center;
}

.card {
  @apply w-[350px] min-h-[460px] flex flex-col items-center justify-start gap-[20px] bg-[rgba(239,239,239,0.45)] rounded-md shadow-custom;
}

.level {
  @apply w-[140px] h-[45px] text-center flex items-center justify-center text-[#252525] text-[16px] cursor-pointer bg-gray-200 gap-[20px];
}

.active {
  @apply w-[115px] h-[45px] text-center flex items-center justify-center text-white text-[16px] cursor-pointer bg-green-500 gap-[20px];
}

.inactive {
  @apply w-[115px] h-[45px] text-center flex items-center justify-center text-white text-[16px] cursor-pointer bg-red-400 gap-[20px];
}

.closed {
  @apply w-[115px] h-[45px] text-center flex items-center justify-center text-white text-[16px] cursor-pointer bg-orange-400 gap-[20px];
}

.edit {
  @apply w-[100px] h-[40px] text-center flex items-center justify-center text-[#white] text-[16px] cursor-pointer bg-[#0048C1] gap-[10px] rounded;
}

.preview {
  @apply w-[113px] h-[40px] text-center flex items-center hover:bg-gray-200 text-gray-800 font-semibold py-2 px-4 border border-[#020342] rounded gap-[10px];
}

.delete {
  @apply w-[113px] h-[40px] text-center flex items-center hover:bg-gray-200 border border-red-500 text-white font-semibold py-2 px-4  rounded gap-[10px];
}

.form-row {
  @apply w-full flex lg:flex-row flex-col lg:gap-[20px] gap-[40px] h-fit;
}

.column {
  @apply lg:w-[50%] w-[100%] flex flex-col gap-[20px] h-full items-start;
}

.label-form {
  @apply text-gray-700 text-[16px]  font-medium;
}

.input-container {
  @apply lg:w-[80%] bg-white lg:h-[60px] w-[100%];
}

.input-el {
  @apply border border-[#dcdcdc]
    rounded-[10px]
    px-[18px] py-[14px]
    text-[15px]
    transition
    focus:shadow-[0_0_0_3px_rgba(59,87,255,0.15)] focus:outline-none w-full
    text-gray-600
    
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}

.user-form-container {
  @apply bg-white/80 backdrop-blur-md rounded-xl shadow-lg p-8 w-full max-w-md gap-[20px] py-[30px] flex flex-col relative;
}

.user-input-container {
  @apply w-full flex flex-col items-start gap-[10px];
}

.user-input {
  @apply w-full rounded-lg border border-none transition text-gray-500 text-[14px] focus:outline-none bg-transparent;
}

.user-input-update-container {
  @apply lg:w-[80%] bg-white rounded;
}

.user-input-update {
  @apply w-full rounded-lg border border-none transition text-gray-500 text-[14px] focus:outline-none bg-transparent p-[15px];
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: "Inter";
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0px;
}

#app {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    width: 100%;
    display: flex;
    place-items: flex-start;
  }

  #app {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    /* grid-template-columns: 1fr 1fr; */
    padding: 0px;
    gap: 40px;
  }
}
